* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&display=swap");

body {
  font-family: Lato, sans-serif;
}

/* Меню навигации*/
.header {
  background: #222222;
}
.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 19px;
}
.item-1 {
  margin-right: 41px;
}
.item-3 {
  margin-left: auto;
  margin-right: 33px;
}
.item-4 {
  margin-right: 33px;
}
.item-5 {
  position: relative;
}
.item-5 span {
  display: inline-block;
  width: 19px;
  height: 19px;
  color: white;
  background: #f16d7f;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  right: -8px;
  top: -5px;
  font-size: 12px;
  line-height: 19px;
}

/*Изображение и название*/
.brand {
  background: #f1e4e6;
  min-height: 363px;
  display: flex;
  align-items: center;
}
.logobrand {
  padding-left: 65px;
}
.logo {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}
.man {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

/*Категории одежды*/
.category {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
  margin-bottom: 30px;
}
.category img {
  object-fit: cover;
  width: 100%;
}
.luxirous img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.category > div {
  position: relative;
}
.category p {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  top: 90px;
  width: 100%;
}
.category span {
  color: #f16d7f;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.luxirous p {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  top: 60px;
  width: 100%;
  align-items: center;
}
.luxirous p span {
  color: #f16d7f;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.luxirous {
  position: relative;
  max-height: 180px;
  min-height: 111px;
}

.fetured {
  margin-bottom: 96px;
}
.feturedHeader {
  text-align: center;
  color: #222222;
}
.feturedTitle {
  text-align: center;
  color: #9f9f9f;
  font-size: 14px;
  margin-bottom: 48px;
}
.feturedItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.feturedItem {
  background: #f8f8f8;
}
.feturedItems img {
  width: 100%;
  display: block;
}
.feturedName {
  color: #000000;
  font-size: 13px;

  padding-bottom: 12px;
}
.feturedText {
  font-weight: 300;
  font-size: 14px;
  color: #5d5d5d;
}
.feturedPrice {
  font-weight: 400;
  font-size: 16px;
  color: #f16d7f;
  padding-top: 18px;
}
.feturedData {
  padding: 23px 16px 20px;
}
.feturedImgWrap {
  position: relative;
}

.feturedItem:hover .feturedImgDark {
  display: flex;
}

.feturedImgDark {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(58, 56, 56, 0.86);
  display: none;
  justify-content: center;
  align-items: center;
}

.feturedImgDark button {
  background: none;
  border: 1px solid white;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 14px;
  font-size: 14px;
  font-family: inherit;
}

.feturedImgDark button img {
  width: 26px;
  height: 24px;
  margin-right: 11px;
}
.feturedBtn {
  border: 1px solid #f26376;
  margin-top: 48px;
  padding: 15px 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: none;
  color: #f26376;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
}
.feturedBtn:hover {
  color: #ffffff;
  background: #ff6a6a;
}

/*Адаптив*/

@media (max-width: 667px) {
  .item-4 {
    display: none;
  }
  .item-5 {
    display: none;
  }
  .item-3 {
    margin-right: 0px;
  }
  .man {
    display: none;
  }
  .category {
    flex-direction: column;
    row-gap: 32px;
    padding: 30px 16px;
  }
  .category div p {
    top: 100px;
  }
  .logobrand {
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  .luxirous p {
    top: 30px;
  }
  .luxirous img {
    min-height: 111px;
  }
  .luxirous {
    margin-left: 16px;
    margin-right: 16px;
  }
  body .fetured .feturedItems {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
  }
  body .fetured {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (max-width: 768px) {
  .category {
    margin-top: 20px;
    column-gap: 20px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 20px;
  }
  .category p {
    top: 58px;
  }
  .logobrand {
    padding-left: 39px;
  }
  .luxirous {
    margin-left: 16px;
    margin-right: 16px;
  }
  .luxirous p {
    top: 30px;
  }
  .fetured {
    padding-left: 16px;
    padding-right: 16px;
  }
  .fetured .feturedItems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 16px;
    column-gap: 16px;
  }
}

/*Footer*/
.footerInfo {
  background: #222224;
}
.footerItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.itemName {
  font-size: 20px;
  color: #fbfbfb;
  padding-top: 28px;
  padding-bottom: 16px;
}
.itemText {
  font-size: 14px;
  color: #fbfbfb;
  max-width: 347px;
  display: block;
}
.footerItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.subscribe {
  background: url(img/backfooter.jpg) no-repeat;
  background-size: cover;
}
.subscribe .container {
  display: flex;
  justify-content: space-between;
  max-height: 448px;
  padding-top: 87px;
  padding-bottom: 126px;
}
.subscribeLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  text-align: center;
}
.subscribeRight {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribeText {
  padding-bottom: 32px;
}
.subscribeUserText {
  padding-top: 30px;
  font-size: 20x;
  color: #222224;
}
.subscribeTitle {
  font-weight: 700;
  font-size: 24px;
  color: #222224;
}
.subscribeTitle,
.subscribeText {
  max-width: 271px;
  text-align: center;
}

.subscribeText {
  font-size: 14px;
  color: #222224;
}
.subscribeForm {
  height: 47px;
}

.subscribeForm input {
  height: inherit;
  background: #e1e1e1;
  border: none;
  padding: 6px 21px;
  box-sizing: border-box;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  float: left;
  width: 185px;
}

.subscribeForm input::-webkit-input-placeholder {
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}
.subscribeForm input::-moz-placeholder {
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}
.subscribeForm input:-ms-input-placeholder {
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}
.subscribeForm input:-moz-placeholder {
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}
.subscribeForm button {
  height: inherit;
  border: none;
  color: white;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  background: #f16d7f;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  padding: 0 17px;
}
.footer {
  background: #222224;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerLeft {
  display: flex;
}

.footer a {
  color: black;
  background: white;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer a:hover {
  background: #f16d7f;
  color: white;
}

.footer a:not(:last-child) {
  margin-right: 7px;
}

.footerRight {
  color: white;
}
@media (max-width: 768px) {
  .footerItems {
    grid-template-columns: 1fr;
    padding-top: 48px;
    padding-bottom: 64px;
    row-gap: 48px;
  }
  .subscribe .container {
    flex-direction: column;
    align-items: center;
    row-gap: 48px;
    padding-top: 43px;
    padding-bottom: 140px;
  }
  .footer .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 375px) {
  .footerItems {
    padding-left: 14px;
    padding-right: 14px;
  }
  .footer .container {
    flex-direction: column-reverse;
    row-gap: 40px;
    padding-top: 43px;
    padding-bottom: 9px;
  }
}